.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 220px;
  height: 296px;
  border-radius: 16px;
  margin-right: 30px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 50%;
  padding: 4px;
  width: 188px;
  height: 122px;
  border-radius: 12px;
}

.name {
  font-size: 20px;
}

.description {
  font-size: 16px;
  color: #7c7a7a;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.price {
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  word-break: break-all;
}
